<ion-header>
  <ion-toolbar>
    <ion-title>Team List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [inset]="true">
    <ion-item *ngFor="let t of teams">

      <ion-avatar slot="start">
        <img *ngIf="t.filename" src="http://localhost:8080/images/{{t.filename}}" alt="image" />
      </ion-avatar>
      <ion-label>
        <h1>{{t.name}}</h1>
        <p>{{t.region}}</p>
      </ion-label>
      <!-- Botón de Delete -->
      <ion-button color="danger" (click)="deleteTeam(t.id)">Delete</ion-button>
      <!-- Botón de Update -->
      <ion-button color="primary" (click)="updateTeam(t)">Update</ion-button>
    </ion-item>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTeam()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>